<!DOCTYPE html>
<html lang="en">
<head>
<title>Error 404</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- css files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<!-- //css files -->

<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Ropa+Sans:400,400i&amp;subset=latin-ext" rel="stylesheet">
<!--//online-fonts -->
</head>
<body>
<div class="header">
	<h1>Link Not found</h1>
</div>
<div class="w3-main">
	<div class="agile-info">
		<h3>SORRY</h3>
		<h2>4<img src="images/confused.gif" alt="image">4</h2>
		<p>An error Occurred in the Application And Your Page could not be Served.</p>
		<a style="padding: 15px;" href="http://urlst.ga/">Click here to create a free account</a>
	</div>
</div>

</body>
</html>